# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp

# Logs
*.log
npm-debug.log*

# Env / secrets
.env
.env.local

# Build artifacts (if any in future)
node_modules/
dist/
build/

# Netlify
.netlify/
